
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main-content-wrapper
{
    width: 100%;
    height: 100vh;
    background-color: rgb(196, 191, 191);
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.pre-loader-bg
{
    grid-column: 1/13;
    grid-row: 1/13;
    z-index: 222;
    background: #000;
    display: grid;
    transition: 3s;
}

.pre-loader-bg .loader
{
    margin: 0px auto;
    display: grid;
    align-self: center;
    justify-content: center;
    width: 300px;
}

.pre-loader-bg h1
{
    color: aliceblue;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    margin-top: 10px;
}

.main-content
{
    grid-column: 1/13;
    grid-row: 1/13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    overflow: hidden;
}

.side-bar
{
    background-color: rgba(24, 44, 97,1.0);
    grid-column: 1/2;
    grid-row: 1/13;
    display: grid;
    grid-template-rows: repeat(11,1fr );
}

.side-bar .icons-wrapper
{
    grid-row: 4/8;
    color: gold;
    text-align: center;
    font-size: 23px;
    display: grid;
    align-items: center;
}

.side-bar .timer, .settings, .info
{
    cursor: pointer;
}



.time-info
{
    grid-column: 2/7;
    grid-row: 1/13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    background-color: rgba(253, 114, 114,1.0);
    color: rgba(24, 44, 97,1.0);
}

.time-info .brand-name
{
    color:rgba(24, 44, 97,1.0);
    grid-column: 1/12;
    text-align: center;
    padding: 10px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    font-size: 18px;
}

.time-info .message
{
    grid-column: 2/10;
    grid-row: 3/8;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
}

.time-info .message .greeting
{
    font-size: 90px;
    padding: 10px;
}

.time-info .message .time
{
    font-size: 30px;
    padding: 10px;

}

.time-info .message .name
{
    font-size: 30px;
    padding: 10px;

}

.time-info .time-animation
{   
    grid-row: 8/13;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    
}

.time-info .time-animation .item-0
{
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row: 1/12;
    grid-column: 1/12;
}

.time-info .time-animation .item-1
{
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row: 3/11;
    grid-column: 1/6;
    animation-name: item-1-move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes item-1-move
{
    0%{ left: 0px; top:0px }
    100%{ left: 50px; top: 10px }
}

.time-info .time-animation .item-2
{
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row: 5/11;
    grid-column: 6/13;
    animation-name: item-2-move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    position: relative;
}

@keyframes item-2-move
{
    0%{ right: 0px; }
    100%{ right: 100px;  }
}
.time-info .sun-moon
{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: 1/11;
    grid-column: 3/10;
    animation-name: sun-moon-move;
    animation-duration: .4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    position: relative;

}

@keyframes sun-moon-move
{
    0%{ bottom: 0px; transform: scale(1)}
    100%{bottom: 4px; transform: scale(1.01)}
}

.clock-section
{
    background-color: rgba(24, 44, 97,1.0);
    grid-column: 7/13;
    grid-row: 1/13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}

.clock-section .clock-wrapper
{
    grid-row: 2/6;
    grid-column: 2/11;
    display: flex;
    justify-content: space-between;
    font-size: 65px;
    align-items: center;
    text-transform: uppercase;
    color: gold;
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 5px rgba(253, 114, 114,1.0) ;
    text-align: center;

}

.clock-section .clock-wrapper .hour-wrapper,.clock-section .min-wrapper,.clock-section .sec-wrapper,.clock-section .time-wrapper
{
    width: 30%;
}

.clock-section .clock-wrapper .time-wrapper
{
    font-size: 30px;
}

.clock-section .date-wrapper
{
    color: rgba(253, 114, 114,1.0);
    grid-row: 6/10;
    grid-column: 1/13;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 65px;
    text-transform: uppercase;
}

.clock-section .date-wrapper .date
{
    font-size: 45px;
}

.clock-section .date-wrapper .month
{
    font-size: 45px;
}



/* 
    ALERT BOXES POPULATE THIS AREA

*/

.css-grid-alert-overlay
{
    grid-row: 1/13;
    grid-column: 1/13;
    background-color: rgba(1, 23, 29, 0.884);
    transition: all .5s linear;
    z-index: 1;
}

.css-grid-alert
{
    grid-row: 4/9;
    grid-column: 5/10;
    height: 220px;
    z-index: 2;
    display: grid;
    filter: opacity(0);
    grid-template-columns: repeat(12,1fr);
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s linear;
    background-color: rgb(7, 51, 73);
}

.css-grid-alert .pic-section
{
    grid-column: 1/6;
    grid-row: 1;
    background-image: url('./images/rocket-icon-vector.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.css-grid-alert .text-section
{
    grid-column: 6/12;
    grid-row: 1;
    padding-top: 50px;
    font-size: 15px;
    text-transform: capitalize;
    font-family: 'Fredoka One', cursive;
    color: white;
}

.css-grid-alert .icon-cancel-circled-2
{  
    position: absolute;
    top: 10px;
    right: 6px;
    font-size: 23px;
    cursor: pointer;
}


/* 

    //////////// INFO POP UP ALERT BOX //////////////

*/

.alert-info
{
    grid-row: 3/9;
    grid-column: 5/9;
    z-index: 2;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    border-radius: 10px;
    display: none;
    filter: opacity(0);
    transition: all .3s linear;
    background-color: rgba(253, 114, 114,1.0);
    color: black;
    position: relative;
}

.alert-info .icon-cancel-circled-2
{
    position: absolute;
    top: 10px;
    right: 6px;
    font-size: 23px;
    cursor: pointer;
}

.alert-info-avatar
{
    grid-column: 1/13;
    grid-row: 1/5;
    background-image: url('./images/avatar.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.alert-info-name
{
    grid-column: 1/13;
    grid-row: 5/7;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
}

.alert-info-list 
{
    grid-column: 3/12;
    grid-row: 7/13;
}

.alert-info-list li
{
    padding: 4px;
    font-size: 13px;
    font-weight: 100;
    font-family: 'Fredoka One', cursive;
    color:rgb(0, 0, 0);
    text-transform: capitalize;
}

.alert-settings
{
    grid-row: 3/9;
    grid-column: 5/9;
    z-index: 2;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    border-radius: 10px;
    display: none;
    filter: opacity(0);
    transition: all .3s linear;
    background-color: rgba(253, 114, 114,1.0);
    color: black;
    position: relative; 
}

.alert-settings .icon-cancel-circled-2
{
    position: absolute;
    top: 10px;
    right: 6px;
    font-size: 23px;
    cursor: pointer;
}

.alert-settings input
{
    background-color: #fff;
    color: rgb(7, 51, 73);
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-family: 'Fredoka One', cursive;
    grid-row: 4/6;
    grid-column: 3/10;
}

.alert-settings button
{
    grid-row: 8/10;
    grid-column: 7/10;
    border: none;
    border-radius: 5px;
    font-family: 'Fredoka One', cursive;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}

.alert-settings .text 
{
    grid-row: 12;
    grid-column: 1/13;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    text-transform: capitalize;
    font-size: 13px;
    color: rgb(7, 51, 73);
}

.alert-timer
{
    grid-row: 3/10;
    grid-column: 5/10;
    z-index: 2;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    border-radius: 10px;
    display: none;
    filter: opacity(0);
    transition: all .3s linear;
    background-color: rgba(253, 114, 114,1.0);
    color: black;
    position: relative; 
    
}

.alert-timer .icon-cancel-circled-2
{
    position: absolute;
    top: 10px;
    right: 6px;
    font-size: 23px;
    cursor: pointer;
}

.alert-timer .timer-wrapper
{
    display: flex;
    grid-row: 3/6;
    grid-column: 4/10;
    align-content: center;
    justify-content: space-around;
}


.alert-timer .timer-wrapper .counters
{
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    border: none;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.alert-timer .timer-wrapper .divider
{
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}

.alert-timer .reset
{
    grid-row: 8/10;
    grid-column: 3/5;
    border: none;
    border-radius: 10px;
    font-family: 'Fredoka One', cursive;
    background-color: white;
    cursor: pointer;
    text-transform: capitalize;
}

.alert-timer .toggle
{
    grid-row: 8/10;
    grid-column: 10/12;
    border: none;
    border-radius: 10px;
    font-family: 'Fredoka One', cursive;
    background-color: #fff;
    cursor: pointer;
    text-transform: capitalize;
}

/* MEDIA QUERIES GO HERE */

@media only screen and (max-width: 871px) {
    
    .time-info .message .greeting{
        font-size: 70px;
    }


    .time-info .message .time
    {
        font-size: 20px;
    
    }
    
    .time-info .message .name
    {
        font-size: 20px;
    
    }

    .clock-section .clock-wrapper
    {
        font-size: 55px;
    }
    
    .clock-section .date-wrapper .day
    {
        font-size: 50px;
    }
    
    .clock-section .date-wrapper .month
    {
        font-size: 40px;
    }
        
    .clock-section .date-wrapper .date
    {
        font-size: 40px;
    }

    .alert-info
    {
        grid-row: 3/9;
        grid-column: 4/12;
    }

    .alert-settings
    {
        grid-row: 3/9;
        grid-column: 3/10; 
    }
}

@media only screen and (max-width: 637px) {
    
    .time-info .message .greeting
    {
        font-size: 55px;
    }


    .clock-section .clock-wrapper
    {
        font-size: 40px;
    }
    
    .clock-section .date-wrapper .day
    {
        font-size: 37px;
    }
    
    .clock-section .date-wrapper .month
    {
        font-size: 40px;
    }
        
    .clock-section .date-wrapper .date
    {
        font-size: 35px;
    }
}

.hide-alert-fade
{
    filter: opacity(0);
}


.show-alert-fade
{
    filter: opacity(1);
}